@import "tailwindcss";

@theme {
    --color-black: #000000;
    --color-bluishgray: #4D5562;
    --color-lightgray: #D9D9D9;
    --color-snow-white: #F8FAFC;
}

body {
    padding: 2rem;
    background-color: var(--color-snow-white);
}